* {
  box-sizing: border-box;
}
.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 10px;
  margin: 10px auto 10px auto;
  border: 4px solid transparent;
  transition: border 0.2s linear;
}

.correct {
  border: 4px solid green;
  /* box-shadow: 1px 1px 5px 5px  green; */
}

.incorrect {
  border: 4px solid tomato;
  /* box-shadow: 1px 1px 5px 5px  tomato; */
}

.card {
  height: 150px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}

.infoBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  margin: auto;
}