* {
  box-sizing: border-box;
}
.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 10px;
  margin: 0 auto 10px auto;
}

.card {
  height: 150px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: Itim;
  margin: 20px 0 10px 0;
  z-index: 100;
}

.infoBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
  padding: 10px;
  margin: 0 auto 0 auto;
  background-color: #f0ebb6;
  transition: border 0.2s linear;
}
.scoreCount {
  font-family: Poppins;
}
.correct {
  background-color: #a1fcb5;
}

.incorrect {
  background-color: #f35353;
}

.instructionText {
  text-align: center;
  font-family: Poppins;
}
