* {
  box-sizing: border-box;
}
.gameboard {
  border: 4px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: border 0.2s linear;
}

.correct {
  border: 4px solid lightgreen;
}

.incorrect {
  border: 4px solid tomato;
}